<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Schedule Blood Transfer </title>
    <link rel="icon" type="image/x-icon" href="/static/Images/3595788.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>
<div class="container">
    <h1>Login</h1>
    <form method="POST" id="login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>
