<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Schedule Blood Transfer </title>
    <link rel="icon" type="image/x-icon" href="/static/3595788.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/requests.css') }}">


</head>
<body>

<!-- navigate through pages -->
<nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('requests') }}">Requests</a>

    <hr class="hr2">
</nav>
<div class="content">
    {% block content %} {% endblock %}
</div>
<h1>Blood Request Form</h1>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous">

{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show"
             role="alert">
            <ul>
                {%- for msg in errors %}
                    <li>{{ msg }}</li>
                {% endfor -%}
            </ul>

            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
    {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
        <div class="alert alert-success alert-dismissible fade show"
             role="alert">
            <ul>
                {%- for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor -%}
            </ul>

            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
    {% endif %}
{% endwith %}

<form id="request-form" method="POST">
    <label for="blood-group">Blood Group:</label>
    <select id="blood-group" name="blood-group" required>
        <option value="">Select a blood group</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
    </select>
    <label for="Request Date">Request Date:</label>
    <input type="date" id="Request Date" name="Request Date" required>
    <label for="amount">Amount:</label>
    <input type="amount" id="amount" name="amount" required>
    <button id="show-message-btn" type="submit" formmethod="post">Submit</button>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    {#    <button onclick="myFunction()" type="submit" formmethod="post">Submit</button>#}
    {#    <script>#}
    {#        function myFunction() {#}
    {#            alert({{ test }});#}
    {#        }#}
    {#    </script>#}

</form>


</body>
</html>