<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reaserch Student Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/RS_panel.css') }}">
</head>
<body>
<nav>
    {% if 'role' in session and session['role'] == 'admin' %}
        <a href="/admin">Admin Panel</a>
        <a href="/donors">Donation</a>
        <a href="/requests">Requests</a>
    {% endif %}
    {% if 'role' in session and session['role'] == 'regular user' %}
        <a href="/donors">Donation</a>
        <a href="/requests">Requests</a>
    {% endif %}
    {% if 'role' in session and session['role'] == 'research student' %}
        <a href="/RS_panel">Research Student Panel</a>
    {% endif %}
    {% if 'username' in session %}
        <a href="/">Logout</a>
    {% endif %}
</nav>


<div class="table-container">
    <table class="blood_table">
        <caption>Available Blood types</caption>
        <thead>
        <tr>
            <th>Blood Type</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for row in blood %}
            <tr class="active-row">
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="donors_table">
        <caption>Eligible donors</caption>
        <thead>
        <tr>
            <th>Blood type</th>
            <th>Last donation date</th>
        </tr>
        </thead>
        <tbody>
        {% for row in donors %}
            <tr class="active-row">
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</body>
</html>